.container{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
    font-size:24px;
    font-family: 'Bebas Neue';
    margin-top:25px;
    border-bottom: 1px solid black;
    padding-bottom:10px;
}

.title a {
    color:black;
    font-family:'Major Mono Display';
    text-decoration: none;
}

.topics{        
    font-family: 'Bebas Neue';
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    font-size:24px;
    color:hsl(0, 0%, 7%);
    margin-top:25px;
}

