


.codeBox {
    width: 650px;
    max-height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    border-radius:15px;     
    margin:auto;
    margin-top:20px;
    padding:20px;
  }

.codeBox .codeTitle {
/*    font-family: 'Chopsic'; */
/*    src: url('fonts/Chopsic-K6Dp 2.ttf') format('embedded-opentype'); */
    font-family: 'B612';
    margin-right:auto;
    text-overflow:ellipsis;
    color:hsl(0, 0%, 7%);
}

.codeBox .codeContent {
    font-family:Dosis;
}

.Morea{
    margin: auto;
    width: 50%;
    border: 3px solid white;
    padding: 10px;
    border-radius: 13px;
    text-align: center;
    color:#dfe6e9;
    background-color:black; 
    font-family: 'Sriracha';
}