.container{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
    font-size:24px;
    font-family: 'Ubuntu';
    margin-top:25px;
    border-bottom: 1px solid black;
    padding-bottom:10px;
}

.title img {
    height:50px;
}

.topics{        
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    font-size:24px;
    font-family: 'Chopsic';
    src: url('fonts/Chopsic-K6Dp 2.ttf') format('embedded-opentype');
    margin-top:25px;
}


.codeBox {
    background-color: rgba(255,255,255,.2);
    width: 650px;
    max-height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    border-radius:15px;     
    margin:auto;
    margin-top:20px;
    padding:20px;
  }

.codeBox .codeTitle {
    font-family: 'Chopsic';
    src: url('fonts/Chopsic-K6Dp 2.ttf') format('embedded-opentype');
    margin-left:250px;
    text-overflow:ellipsis;
}

.codeBox .codeContent {
    font-family:Dosis;
}
.More{
    background-color:#111111;
    color:white;
    padding:16px 8px;
    border-radius: 3px;
    justify-content:space-around;
    align-items: center;
    display:flex;
}