.codeBox {
    width: 650px;
    max-height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    border-radius:15px;     
    margin:auto;
    margin-top:20px;
    padding:20px;
  }

.codeBox .codeTitle {
/*    font-family: 'Chopsic'; */
/*    src: url('fonts/Chopsic-K6Dp 2.ttf') format('embedded-opentype'); */
    font-family: 'Bebas Neue';
    margin-right:auto;
    text-overflow:ellipsis;
    color:hsl(0, 0%, 7%);
}

.mTitle{
    text-align: center;
    font-family: 'Bebas Neue';
    margin-right:auto;
    text-overflow:ellipsis;
    color:hsl(0, 0%, 7%);
}

.codeBox .codeContent {
    font-family: 'Roboto Mono';
    border-radius: .5em;
    border: .3em solid hsl(0, 0%, 33%);
    box-shadow: 1px 1px 0.5em black inset;
    margin: .5em 0;
    overflow: auto;
    padding: 0.5em;
    background-color: hsl(200, 4%, 16%);
    text-shadow: none;  
    color:white;
}

.Morea{
    margin: auto;
    width: 50%;
    border: 3px solid white;
    padding: 10px;
    border-radius: 13px;
    text-align: center;
    color:#dfe6e9;
    background-color:black; 
    font-family: 'Bebas Neue';
}

.topics{
    font-family: 'Bebas Neue';
}